server {

    listen 8080;
    listen 9002;
    
    root /Users/oel-asri/Kingsave/Webserv/response_unit_testing;
    client_max_body_size   18446744073709551615;

    location / {
        autoindex on;
    }
    
    location /error {
        root /Users/oel-asri/Kingsave/Webserv/default_error_page;
        index error.html;
    }

    location /home {
        root /Users/oel-asri/Kingsave/Webserv/response_unit_testing/home/;
        index home.html;
    }

    location /upload {
        root ./uploads;
        methods POST;
        upload /bin;
    }

    location /image {
        root /Users/oel-asri/Kingsave/Webserv/response_unit_testing/images;
        index nature.png;
    }

    location /delete {
        root /Users/oel-asri/Kingsave/Webserv/file_to_delete;
        
    }

    location /redirect {
        index redirect.html;
    }

    location /about {
        index about.html;
    }
}